{% extends "base.html" %}
{% block content %}

<h1>Сертификат</h1>


<div id="ui">
    <span data-bind="text: error"></span>

    <div id="drop_zone" data-bind="visible: dnd_visible, text: dnd_text" >Сбросьте сертификат для просмотра</div>

</div>

<div id="ident" style="float: left; width: 50%">
    <h3>Удостоверяет личность</h3>
    <div>
        <span data-bind="text: title"> </span> <span data-bind="text: commonName"></span>
    </div>

    <div>
        Имя отчество: <span data-bind="text: givenName"></span>.
    </div>
    <div>
        Фамилия: <span data-bind="text: surname"></span>.
    </div>
    <div>
        Индивидуальный налоговый номер <span data-bind="text: ipn"></span>
    </div>
    <div>
        Организация: <span data-bind="text: organizationName"></span>.
    </div>
    <div>
        Отдел: <span data-bind="text: organizationalUnitName, visible: organizationalUnitName.length"></span>.
    </div>

    <div>
        Зарегистрирован в <span data-bind="text: located()"></span>
    </div>
    <div>
        Номер сертификата <span data-bind="text: serialNumber"></span>
    </div>

    <div>
        Действителен с <span data-bind="text: validFrom"></span> по <span data-bind="text: validTo"></span>.
    </div>
    <div>Владеет ключем <span data-bind="text: pubkey"></span></div>
</div>

<div id="issuer_ident">
    <h3>Выдан</h3>
    <div>
        <span data-bind="text: title"> </span>
        <span data-bind="text: commonName"></span>
    </div>
    <div>
        Организация: <span data-bind="text: organizationName"></span>.
    </div>
    <div>
        Отдел <span data-bind="text: organizationalUnitName"></span>.
    </div>

    <div>
        Зарегистрирован в <span data-bind="text: located()"></span>
    </div>

    <div>
        Номер сертификата <span data-bind="text: serialNumber"></span>
    </div>
</div>

<div style="clear: both"></div>

<h3>Сертификат в виде PEM-структуры</h3>
<pre id="pem">
</pre>

<script>
    require("certui").setup();
</script>

{% endblock %}
