{% extends "base.html" %}
{% block content %}
<h1>Просмотр сертификата</h1>


<div id="ui">
    <span data-bind="text: error"></span>

    <div id="drop_zone" data-bind="visible: dnd_visible, text: dnd_text" >Сбросьте сертификат для просмотра</div>

</div>

<div id="ident">
    {% for attr, title in show_attrs %}
    <div>{{title}}: <span data-bind="text: {{attr}}" ></span></div>
    {% endfor %}
</div>

<div id="issuer_ident">
    {% for attr, title in show_attrs %}
    <div>{{title}}: <span data-bind="text: {{attr}}" ></span></div>
    {% endfor %}
</div>


<script>
    require("certui").setup();
</script>

{% endblock %}
