    <p>
    Исходный код: <a href="https://github.com/muromec/dstukeys">github.com/muromec/dstukeys</a>, Закон України <a href="http://zakon4.rada.gov.ua/laws/show/852-15">Про електронний цифровий підпис</a>, стандарт <a href="http://info-stand.com/downloads/dstu/dstu-4145-2002/dstu-4145-2002.pdf">ДСТУ-4145-2002</a>, Акредитований центр сертифікації ключів Міндоходів (<a href="http://acskidd.gov.ua/">сайт</a>), реализация ДСТУ 4145 для OpenSSL (<a href="http://www.crypto.org.ua/">сайт</a>).
    </p>
    <p>Copyright Ilya Petrov <a href="https://facebook.com/ilya.muromec">FB</a>, <i>ilya.muromec@gmail.com</i>, 2014. You can send tips to 15qmFc9MR8z8YFBqkHcSoQGGxQgVrWdn7S.</p>

