{% extends "base.html" %}
{% block content %}

    <h1>Електронний цифровий підпис</h1>

    <div id="ui" data-bind="visible: visible" style="display: none">
        <p>
            Тут можно подписать любой документ цифровой подписью, соответствующей Державному Стандарту України. Физические лица, предприниматели и юридические лица могу получить такую подпись в АЦСК Миндоходов или купить у частных центров сертификации. Согласно законов Украины, такая подпись эквивалентна автографу на бумаге и может, и уже используется, для сдачи отчетов в налоговую, проведения банковских платежей, заключения договоров и так далее.
        </p>
        <p data-bind="visible: dnd_visible, text: intro_1" ></p>

        <p data-bind="visible: error_visible">
            <span class="error" data-bind="visible: error_visible, text: error_text"></span>
        </p>

        <div id="drop_zone" data-bind="visible: dnd_visible, text: dnd_text" >Файл бросать сюда.</div>
        <p data-bind="visible: pw_visible">
            Файл ключа зашифрован. Введите пароль и нажмите кнопку
            <input id='pw_in' data-bind="css: {field_error: pw_error}, visible: pw_visible, value: pw" type="password" />
            <button id="pw_accept" type="button" data-bind="visible: pw_visible, click: accept_pw" >Расшифровать</button>
        </p>
        <div id="key_info" data-bind="visible: key_info_visible">
            <span data-bind="text: key_info"></span>
        </div>

        <pre id="pem_out" data-bind="text: pem_text, visible: pem_visible" ></pre>
        <div id="key_controls" data-bind="visible: key_controls_visible" >
            <button id="do_sign" data-bind="click: do_sign, text: label_sign"></button>
            <button id="do_save" data-bind="click: do_save, text: label_store"></button>
            <button id="as_pem" data-bind="click: show_pem">PEM</button>
        </div>
    </div>

    <div id="document" data-bind="visible: visible" style="display: none">
            <h2>Введите текст документ в поле ниже</h2>
            <textarea data-bind="document_text"></textarea>

            <p>
                <span data-bind="text: sign"></span>
            </p>

            <p>
                <button data-bind="click: do_sign">Подписать</button>
            </p>
    </div>

    <div id="identity" data-bind="visible: visible" style="display: none">
        <span data-bind="text: commonName" ></span>,
        зарегистрирован в
        <span data-bind="text: located()"></span>
        и идентифицируем по налоговому номеру
        <span data-bind="text: ipn" ></span>
        ( <span data-bind="text: title" ></span> ).
    </div>

    <div id="stored" style="margin: 10px 20px 0 30%; border: 1px solid gray" data-bind="visible: visible">
    <h3>Сохраненные сертификаты</h3>
    <div data-bind="foreach: items" >
        <div>
            <span data-bind="text: label(), click: select"></span>
            <span data-bind="text: state()"></span>
            <!-- <span data-bind="click: remove">REMOVE</span> -->
        </div>
    </div>
    </div>

    <script>
        DSTU_WORKER_URL = "{{ static_url("js/build_dstu.js") }}";

        require('ui').setup();
    </script>

    {% include "footer.html" %}

{% endblock %}
