{% extends "base.html" %}
{% block content %}

    <div id="langs">
        <div data-bind="foreach: items">
        <span data-bind="text: code, click: select"></span>
        </div>
    </div>

    <div id="ui" data-bind="visible: visible" style="display: none">
        <!-- <p data-bind="text: intro_0"></p> -->
        <p class="big" data-bind="text: login, click: do_login, visible: big_visible"></p>

        <p data-bind="visible: error_visible">
            <span class="error" data-bind="visible: error_visible, text: error_text"></span>
        </p>

        <div id="key_info" data-bind="visible: key_info_visible">
            <span data-bind="text: key_info"></span>
        </div>

        <pre id="pem_out" data-bind="text: pem_text, visible: pem_visible" ></pre>
        <div id="key_controls" data-bind="visible: key_controls_visible" >
            <button id="do_sign" data-bind="click: do_sign, text: label_sign"></button>
            <button id="do_save" data-bind="click: do_save, text: label_store"></button>
            <button id="as_pem" data-bind="click: show_pem">PEM</button>
        </div>
    </div>

    <div id="document" data-bind="visible: visible" style="display: none">
            <h2>Введіть текст документ на підпис</h2>
            <textarea data-bind="document_text"></textarea>

            <p>
                <span data-bind="text: sign"></span>
            </p>

            <p>
                <button data-bind="click: do_sign">Накласти підпис</button>
            </p>
    </div>

    <div id="identity" data-bind="visible: visible" style="display: none">
        <span data-bind="text: label"></span>
    </div>

    <div id="password" class="modal" data-bind="visible: visible" style="display: none">
        <div id="password_in">
            <h2 data-bind="text: crypted_key_0"></h2>
            <span data-bind="text: crypted_key_1"></span>
            <input id='pw_in' data-bind="css: {field_error: error}, value: value, disable: busy" type="password" />
            <button id="pw_accept" type="button" data-bind="click: accept, text: label_decrypt, disable: busy" ></button>
        </div>
    </div>

    <div id="dnd" class="modal" data-bind="visible: visible" style="display: none">
        <h2 data-bind="text: title_dnd"></h2>
        <p data-bind="text: intro_1" ></p>

        <div id="drop_zone" data-bind="text: text" ></div>

        <div id="stored" data-bind="with: stored, visible: visible">
            <h3 data-bind="text: avail_certs"></h3>

            <div data-bind="foreach: items" >
                <div>
                    <span data-bind="text: label(), click: select"></span>
                    <span data-bind="text: state()"></span>
                    <!-- <span data-bind="click: remove">REMOVE</span> -->
                </div>
            </div>
        </div>
    </div>

    <script>
        DSTU_WORKER_URL = "{{ static_url("js/build_dstu.js") }}";

        require('ui').setup();
    </script>

    {% include "footer.html" %}

{% endblock %}
